/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 40px;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-mazzard;
  color: $cl-txt;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-image: url('https://demo73leotheme.b-cdn.net/prestashop/at_freshio/themes/freshio/assets/img/modules/appagebuilder/img/home2_bgbody_bottom.jpg');
  background-color: #FEF3ED;
}

.all {
  background: #fff;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@include breakpoint-down($max-lg) {
  .all {
    padding: 0 50px;
  }
}

@include breakpoint-down($max-md) {
  .all {
    padding: 0;
  }
}