// COLORS
$cl-txt: #0a472e;
$cl-primary: #0a472e;
$cl-p: #555;
$cl-btn: #BAC34E;
$cl-border: #efefef;
$cl-black: #000;
$cl-white: #fff;

// FONTS
$font-mazzard: 'Mazzard', serif;
$font-dance: 'Dancing Script', cursive;

// PX-SIZE
$txt-14: 14px;

$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;
